In [2]:
import pandas as pd
import numpy as np

In [4]:
a = pd.Series(np.arange(1,11))

In [39]:
df = pd.DataFrame()
temp = 1
for i in a:

    print(f"Value of i = {i}  * {temp} = {temp*i}")
    temp = temp * i

Value of i = 1  * 1 = 1
Value of i = 2  * 1 = 2
Value of i = 3  * 2 = 6
Value of i = 4  * 6 = 24
Value of i = 5  * 24 = 120
Value of i = 6  * 120 = 720
Value of i = 7  * 720 = 5040
Value of i = 8  * 5040 = 40320
Value of i = 9  * 40320 = 362880
Value of i = 10  * 362880 = 3628800